<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.yqiang.movie.repository.WebLinksMapper">
  <resultMap id="BaseResultMap" type="me.yqiang.movie.domain.WebLinks">
    <constructor>
      <idArg column="web_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="web_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="web_link" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="crawl_flag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="insert_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    web_id, web_name, web_link, crawl_flag, insert_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from web_links
    where web_id = #{webId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from web_links
    where web_id = #{webId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="me.yqiang.movie.domain.WebLinks">
    insert into web_links (web_id, web_name, web_link, 
      crawl_flag, insert_date, update_date
      )
    values (#{webId,jdbcType=VARCHAR}, #{webName,jdbcType=VARCHAR}, #{webLink,jdbcType=VARCHAR}, 
      #{crawlFlag,jdbcType=VARCHAR}, #{insertDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="me.yqiang.movie.domain.WebLinks">
    insert into web_links
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="webId != null">
        web_id,
      </if>
      <if test="webName != null">
        web_name,
      </if>
      <if test="webLink != null">
        web_link,
      </if>
      <if test="crawlFlag != null">
        crawl_flag,
      </if>
      <if test="insertDate != null">
        insert_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="webId != null">
        #{webId,jdbcType=VARCHAR},
      </if>
      <if test="webName != null">
        #{webName,jdbcType=VARCHAR},
      </if>
      <if test="webLink != null">
        #{webLink,jdbcType=VARCHAR},
      </if>
      <if test="crawlFlag != null">
        #{crawlFlag,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        #{insertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.yqiang.movie.domain.WebLinks">
    update web_links
    <set>
      <if test="webName != null">
        web_name = #{webName,jdbcType=VARCHAR},
      </if>
      <if test="webLink != null">
        web_link = #{webLink,jdbcType=VARCHAR},
      </if>
      <if test="crawlFlag != null">
        crawl_flag = #{crawlFlag,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        insert_date = #{insertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where web_id = #{webId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.yqiang.movie.domain.WebLinks">
    update web_links
    set web_name = #{webName,jdbcType=VARCHAR},
      web_link = #{webLink,jdbcType=VARCHAR},
      crawl_flag = #{crawlFlag,jdbcType=VARCHAR},
      insert_date = #{insertDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where web_id = #{webId,jdbcType=VARCHAR}
  </update>
</mapper>